$headerBackGround: #161719;
$bg-color: #fff;
$main-color: #F0B90A;
$fontSizeMax: 42px;
$fontPhone: 32px;
$fontSizeMed: 24px;
$fontSizeDefPro: 18px;
$fontSizeDef: 16px;
$fontSizeMinPro: 14px;
$fontSizeMin: 12px;

.nz-divider {
  border-right: 1px solid #eee;

  @media (max-width: 992px) {
    border-right: none;
  }
}
.gap{
  @media (max-width: 992px) {
    margin-top: 22px;
  }
}
:deep(.el-overlay-dialog) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset !important;
  width: 100%;
  height: 100%;
}

:deep(.el-dialog__body) {
  @media (max-width: 768px) {
    max-height: calc(90vh - 120px) !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

:deep(.el-dialog__header) {
  padding: 0;
}

:deep(.alert-dialog) {
  width: 100%;
  padding: 40px 20px 50px 40px;
  line-height: 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 99999;
  // left: 50%;
  @media (max-width: 768px) {
    margin: 0 auto !important;
    width: 90% !important;
    padding: 0 20px !important;
  }

  .gap {
    @media (max-width: 768px) {
      margin-top: 25px;
    }
  }

  .alert-box {
    word-break: break-word;

    .alert-title {
      color: #060606;
      font-size: 22px;
      font-weight: 600;
    }

    .alert-cont {
      margin-top: 25px;
      font-size: $fontSizeDef;
      color: #848793;
    }

    .alert-address {
      margin-top: 25px;
      font-size: $fontSizeDef;
      color: #35d2f5;
      cursor: pointer;

      a {
        color: #35d2f5;
        text-decoration: none;
      }
    }
  }
}
:deep(.custom-dialog){
  padding: 10px 20px 20px 40px !important;
}
.more-arrow {
  vertical-align: middle;
  margin-left: 2px;
  margin-top: -2px;
}

body {
  background-color: white;
  font-size: $fontSizeDef;
}

.bg-gray {
  background-color: #f8f8f8;
}

// .max1290 {
//   max-width: 1290px;
//   margin: 0 auto;
// }

// @media (max-width: 1400px) {
//   .max1290 {
//     max-width: 940px;
//     margin: 0 auto;
//   }
// }

// @media (max-width: 985px) {
//   .max1290 {
//     width: auto !important;
//     max-width: none;
//     padding-left: 15px !important;
//     padding-right: 15px !important;
//     margin: 0 auto;
//   }
// }

.view-more {
  color: #929292;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-top: 50px;

  span {
    cursor: pointer;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 8px 20px;
  }
}

.first-part-btn {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  font-weight: bold;
  color: #a9a9a9;
  margin: 40px auto 0;
  text-align: center;
  width: 137px;
  height: 41px;
}

.no-underline {
  text-decoration: none;
}

.banner-right {
  position: relative;

  .for-what{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    @media (max-width: 992px) {
      margin-top: 40px;
      padding: 0 20px;
    }
    .content{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;

      .content-title{
        font-size: 36px;
        font-weight: 600;
        color: #060606;
        text-align: center;
        @media (max-width: 992px) {
          & {
            font-size: 22px !important;
          }
        }
      }
      .content-way{
        font-size: 20px;
        color: #878787;
        text-align: center;
        margin-top: 30px;
        @media (max-width: 992px) {
          & {
            font-size: 16px !important;
          }
        }
      }
      .content-btn{
        text-align: center;
        margin-top: 50px;
        @media (max-width: 768px) {
          & {
            margin-top: 5px;
          }
        }

        .start-btn{
          padding: 0px 50px !important;
        }
      }
    }
  }
  .hacker-img {
    width: 120%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: -10%;
    right: 0;
    margin: auto;
    z-index: 2;
  }
}

img {
  width: 100%;
  height: 100%;
}

.part {
  padding: 40px 0;
  background-color: $bg-color;
  max-width: 1290px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding: 5% 20px !important;
  }
}

@media (max-width: 1400px) {
  .part {
    max-width: 940px;
  }
}

@media (max-width: 985px) {
  .part {
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
  }
}

// get start按钮
.start-btn {
  border: none;
  padding: 0px 30px;
  background: #F0B90A;
  box-shadow: 4px 4px 10px 0 rgba(146, 146, 146, 0.5);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: $fontSizeDef;
  font-weight: 600;
  @media (max-width: 768px) {
    & {
      border: none;
      padding: 6px 28px;
      background: #F0B90A;
      box-shadow: 4px 4px 10px #92929280;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      height: 40px;
      margin-top: 15px;
    }
  }
}

.first-level-title {
  font-size: 36px;
  color: #060606;
  font-weight: bold;
  line-height: 35px;
  @media (max-width: 768px) {
    & {
      font-size: 28px;
    }
  }

  span {
    color: $main-color;
  }
}

.second-level-title {
  font-size: $fontSizeDefPro;
  color: #060606;
  line-height: 30px;
  // font-weight: 500;
  text-decoration: none;
  @media (max-width: 768px) {
    & {
      line-height: 20px !important;
      font-size: $fontSizeDef;
    }
  }
}

.link-color {
  color: #551a8b;
}

.homeBox {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  color: #fff;
  font-size: $fontSizeDef;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerContainer {
  width: 100%;
  position: relative;
  padding: 160px 0 60px 0;
  background-color: #fff;
  @media (max-width: 992px) {
    & {
      padding: 20px 0;
    }
  }

  .bg-img {
    position: relative;

    .banner-bg {
      position: absolute;
      height: 100%;
      z-index: 0;
      object-fit: contain;
    }

    .banner-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 992px) {
        .banner-title {
          font-size: 42px !important;
          margin-bottom: 32px !important;
          line-height: 45px !important;
          @media (max-width: 992px) {
            & {
              font-size: 28px !important;
              padding: 0 20px;
            }
          }
          @media (max-width: 992px) {
            & {
              width: 100% !important;
            }
          }
        }
        .banner-btn {
          width: 200px !important;
          height: 50px;
          box-shadow: none;
          font-size: 14px !important;
          font-weight: 700;
          max-width: 280px;
        }
      }

      .banner-title {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 32px;
        text-align: left;
        line-height: 60px;
        width: 80%;
        color: #1E252F;
      }

      .banner-content {
        width: 90%;
        text-align: left;
        color: #878787;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 32px;
        @media (max-width: 992px) {
          & {
            width: 100%;
            font-size: $fontSizeDef !important;
            padding: 0 20px;
          }
        }
      }

      .for-what {
        display: flex;
        justify-content: center;
        //height: 232px;
        margin-top: 25px;
        gap: 95px;
        @media (max-width: 769px) {
          & {
            gap: 25px;
            display: block;
            padding: 0 10px;
          }
          .gap-bottom{
            margin-top: 10px;
          }
        }

        .frame {
          width: 262px;
          height: auto;
          @media (max-width: 996px) {
            & {
              width: 300px;
              height: auto;
            }
          }
          @media (max-width: 769px) {
            & {
              width: 100%;
              height: 200px;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      
        .content {
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          .content-title {
            line-height: 51px;
            font-size: 38px;
            font-weight: 500;
            @media (max-width: 992px) {
              & {
                font-size: 22px;
              }
            }
          }

          .content-way {
            font-size: 20px;
            line-height: 30px;
            @media (max-width: 992px) {
              & {
                font-size: 16px;
              }
            }
          }

          .start-btn {
            width: 165px;
            margin-top: 15px;
            box-shadow: none;
            @media (max-width: 992px) {
              & {
                width: 100px;
              }
            }
          }
        }
      }

      .banner-more {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 110px;

        @media (max-width: 992px) {
          margin-top: 30px;
          padding: 0 20px;
        }
        .banner-more-img {
          width: 30px;
          height: 35px;
          margin-right: 16px;
        }

        .banner-more-title {
          font-size: $fontSizeMinPro;
          line-height: 30px;
          color: #202630;
        }

        .banner-learn-more {
          font-size: $fontSizeMinPro;
          color: $main-color;
          cursor: pointer;
        }

        .more-arrow {
          vertical-align: middle;
          margin-left: 2px;
        }
      }
    }
  }
}

:deep(.el-button:focus, .el-button:hover) {
  background-color: #F0B90A;
  border-color: #F0B90A !important;
  color: #fff !important;
  --el-button-hover-bg-color: #56be93;
}
.au-learn-img{
  width: 160px;
  height: 100px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.nz-learn-img {
  width: 140px;
  height: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.homeContainer {
  width: 100%;
  height: 100%;

  :deep(.el-tabs__item) {
    font-size: $fontSizeDef !important;
    font-weight: 500 !important;
    color: #9b9b9b;

    & :hover {
      color: #9b9b9b;
    }
  }

  :deep(.el-tabs__item.is-active) {
    color: $main-color !important;
    background: #F0B90A !important;
    border-radius: 20px;
    padding: 0px 35px;
    color: #fff !important;
  }

  :deep(.el-table__cell) {
    color: #929292;
    font-size: $fontSizeMin;
  }

  :deep(.el-tabs__nav-wrap::after) {
    height: 0px;
  }

  :deep(.el-button.is-plain) {
    --el-button-hover-text-color: #fff;
    --el-button-hover-bg-color: #56be93;
  }

  .trade-way {
    @media (max-width: 992px) {
      margin-top: -80px;
      display: flex;
      justify-content: center;
    }
    @media (max-width: 706px) {
      // margin-top: -30px;
    }
    .trade-tabs {
      margin-top: 100px;
      font-size: 24px;
      color: #000000;
      line-height: 44px;

      .title {
        font-size: 36px;
        color: #060606;
        line-height: 44px;

        span {
          color: #F0B90A;
        }
      }
    }

    :deep(.el-tabs__item) {
      font-size: 24px !important;
      color: #000;
      margin: 0 8px;
      text-align: center;
      background: #F5F5F5;
      color: #242933;
      padding: 0px 35px;
      border-radius: 20px;
      @media (max-width: 992px) {
        & {
          font-size: 14px !important;
        }
      }
    }

    :deep(.el-tabs__active-bar) {
      height: 0px;
    }

    :deep(.el-tabs__nav) {
      height: 50px;
    }
  }

  .tabs-content {
    max-width: 1290px;
    margin: auto;
    .tabs-content-flex{
      display: flex; 
      justify-content: space-between;

      @media (max-width: 992px) {
        & {
          display: block; 
        }
      }
    }

    .tabs-content-title {
      font-size: 36px;
      color: #060606;
      text-align: center;
      line-height: 44px;
      font-weight: bold;
      margin-top: 100px;
      @media (max-width: 992px) {
        & {
          font-size: 28px !important;
          padding: 0 20px;
          // text-align: left;
        }
      }
      span {
        color: #F0B90A;
      }

      @media (max-width: 992px) {
        margin-top: 45px;
      }
    }
    .custom-step{
      text-align: center;
      padding: 0px 20px;
      .step{
        margin-top: 20px;
      }
      .step-title{
        font-size: 20px;
        color: #000 !important;
        margin-top: 10px;
        text-align: center;
        font-weight: 500;
      }
      .step-description{
        font-size: 16px;
        color: #878787;
        text-align: left;
        //line-height: 26px;
        margin-top: 8px;
        @media (max-width: 992px) {
          padding: 10px 20px;
        }
      }
    }
    .tabs-step {
      margin-top: 125px;
      margin-bottom: 210px;
      @media (max-width: 992px) {
        margin-top: 85px;
        margin-bottom: 80px;
      }


      .step-icon {
        width: 40px;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      :deep() {
        .el-step.is-center .el-step__head{
          text-align: left;
        }
        .el-step__title {
          font-size: 20px;
          font-weight: bold;
          color: #000 !important;
          text-align: left;
        }
        .el-step.is-horizontal{
          margin-right: 20px;
          border: 1px solid #EAECEF;
          border-radius: 20px;
          padding: 30px;
        }
        .el-step.is-horizontal .el-step__line{
          height: 0 !important;
        }

        .el-step__description {
          margin-top: 15px;
          font-size: 16px;
          text-align: left;
          color: #878787;
          line-height: 26px;
          @media (max-width: 992px) {
            line-height: 18px;
            font-size: 12px;
          }
        }

        .el-step.is-center .el-step__description {
          padding-left: 0;
          padding-right: 10%;
          text-align: left !important;
        }

        .el-step.is-center .el-step__line {
          display: none;
          left: 65%;
          right: -35%;
          border: 1px dashed #CDCDCD;
          @media (max-width: 992px) {
            left: 78%;
            right: -22%;
          }
        }
      }
    }
  }

  .forth-part {
    position: relative;
    height: 900px;
    width: 100%;
    background-color: #fff;
    @media (max-width: 985px) {
      & {
        height: 900px;
      }
    }

    .forth-title {
      position: absolute;
      padding: 0 0 90px 0;
      font-size: 32px;
      color: #202630;
      font-weight: 700;
      text-align: center;
      width: 1260px;
      left: 0;
      right: 0;
      margin: 0 auto;
      line-height: 45px;
      @media (max-width: 992px) {
        padding: 30px 20px;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 28px;
        width: 100%;
    }

      span {
        color: $main-color;
      }

      .tip {
        font-size: 20px;
        color: #202630;
        margin-top: 49px;
        font-weight: 400;
      }

      .choose-reason {
        .reasonTab-tabs {
          border: 2px solid #F0B90A;
        }

        .reason-box {
          border: 1px solid #C8CCD1;
          border-radius: 8px;
          height: 54px;
          margin-top: 40px;
          @media (max-width: 768px) {
            height: 40px;
          }
        }

        :deep() {
          .el-radio-button--large .el-radio-button__inner {
            background: none;
            color: #878787;
            border: none;
            width: 164px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            font-size: 20px;
            line-height: 25px;
            @media (max-width: 768px) {
              width: 150px;
              font-size: 16px;
            }
          }

          .el-radio-button__original-radio:checked + .el-radio-button__inner {
            background-color: #F0B90A;
            color: #fff;
            border-color: #F0B90A;
          }

          .el-radio-button {

            @media (max-width: 912px) {
              //border: 1px solid #FFFFFF;
              border-radius: 4px;
              //margin: 2px;
            }
          }
        }
      }

      .tab-content-box {
        margin-top: 105px;
        @media (max-width: 768px) {
          margin-top: 30px;
        }

        .tab-img {
          width: 338px;
          height: auto;
          @media (max-width: 992px) {
            width: auto;
            height: 240px;
            margin-top: 38px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .tab-content {
          text-align: left;
          margin-top: 20px;

          .tab-content-title {
            color: #202630;
            font-size: 28px;
            line-height: 34px;
            font-weight: 500;
            @media (max-width: 992px) {
              font-size: 22px;
              margin-top: 20px;
            }
          }

          .tab-content-tip {
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #242933;
            margin-top: 50px;
            @media (max-width: 985px) {
              margin-top: 10px;
              font-size: 16px;
            }
          }

          .tab-content-btn {
            margin-top: 5px;
            @media (max-width: 992px) {
              margin-top: -15px;
            }
          }
        }
      }
    }

    .trade-btn {
      width: 125px;
      height: 48px;
      margin-top: 70px;
      @media (max-width: 985px) {
        & {
          width: 40%;
          padding: 8px 16px;
          font-size: 14px;
          height: 40px;
          margin-top: 30px;
        }
      }
    }
  }

  .fifth-part {
    // padding:110px 73px;
    padding-top: 10%;
    position: relative;
    background-color: #fff;
    text-align: center;
    overflow: auto;
    @media (max-width: 768px) {
      padding: 80px 20px !important;
    }

    .fifth-second-title {
      font-size: 28px;
      font-weight: 500;
      color: #060606;
      margin-top: 15px;
      line-height: 40px;
      @media (max-width: 768px) {
        font-size: 24px !important;
        line-height: 30px;
      }
    }

    .fifth-part-top-img {
      position: absolute;
      top: 7rem;
      left: 0;
      width: 9rem;
      height: auto;
      @media (max-width: 768px) {
        top: 4rem;
        left: 4rem;
      }
    }

    .fifth-part-card {
      flex-wrap: wrap;
      display: flex;
      padding: 4rem 0rem 0rem;

      .card-item {
        padding: 0 2rem 1rem 0;
        text-align: left;
        width: 25%;

        @media (max-width: 985px) {
          & {
            text-align: center;
            width: 50%;
            padding: 0 1.5rem 2rem 0;
          }
        }
        // .fifth-icon{
        //   width: auto;
        //   height: 18%;
        //   @media (max-width: 985px) {
        //     & {
        //       width: auto;
        //       height: 58px;
        //     }
        //   }
        //   img{
        //     width: auto;
        //   height: 18%;
        //   }
        // }
        img {
          width: auto;
          height: 18%;
          @media (max-width: 985px) {
            & {
              width: auto;
              height: 58px;
            }
          }
        }

        .card-title {
          font-size: $fontSizeDefPro;
          font-weight: 500;
          color: #060606;
          margin: 0.7rem 0 0.8rem;
        }

        .card-desc {
          font-size: $fontSizeMinPro;
          color: #060606;
          line-height: 26px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          @media (max-width: 768px) {
            & {
              overflow: hidden;
              display: -webkit-box;
            }
          }
        }

        .card-btn {
          font-size: 14px;
          color: #F0B90A;
          padding-top: 6px;
          cursor: pointer;
          font-weight: 500;
        }

        .last-img {
          width: 100%;
          height: auto;
          // object-fit: contain;
          padding-top: 68px;
          max-width: 210px;
          float: right;
        }
      }
    }
  }

  .sixth-part {
    background-color: #f8f8f8;
    padding: 4% 0;
    padding-bottom: 4rem;
    text-align: center;
    position: relative;
    background-image: url("../../assets/home/part06_b01.png");
    background-repeat: no-repeat;
    background-position: 95% bottom;
    background-size: 29%;
    @media (max-width: 786px) {
      & {
        background-size: 42%;
        padding-top: 10%;
      }
    }
    @media (max-width: 985px) {
      & {
        padding: 80px 20px !important;
      }
    }

    .sixth-part-top {
      width: 60px;
      height: 51px;
      margin: auto;
    }

    .sixth-part-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 2rem;

      .card-item {
        box-sizing: border-box;
        padding: 24px 0;
        margin-bottom: 2rem;
        width: 30%;
        height: 210px;
        background: #ffffff;
        box-shadow: 0 0 10px 0 #eceeef;
        border-radius: 18px;
        @media (max-width: 786px) {
          & {
            width: 100%;
            padding: 30px 0 !important;
          }
        }

        img {
          width: auto;
          height: 44px !important;
        }

        .card-title {
          font-size: $fontSizeDefPro;
          font-weight: 400;
          color: #060606;
          margin: 1rem 0 0.4rem;
          height: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .card-desc {
          padding: 0 1.5rem;
          font-size: $fontSizeMinPro;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          color: #060606;
          letter-spacing: 0;
          text-align: center;
          line-height: 22px;
        }
      }
    }

    .sixth-btn {
      @media (max-width: 786px) {
        & {
          border: none;
          padding: 1rem 1.7rem;
          background: #F0B90A;
          box-shadow: 4px 4px 10px #92929280;
          border-radius: 4px;
          font-size: 14px;
          color: #fff;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }

  .seventh-part {
    text-align: center;
    background-color: #fff;
    padding: 66px 0 36px 0;

    @media (min-width: 768px) {
      .listItem:hover {
        & .seventh-part-img {
          transform: scale(1.15);
        }

        & .item-title {
          text-decoration: underline;
          color: #F0B90A;
        }
      }
    }

    .seventh-part-img {
      width: 100%;
      cursor: pointer;
      transition: all 0.5s;
    }

    .seventh-part-list {
      padding-top: 5%;
      margin-bottom: 2%;
      @media (max-width: 786px) {
        & {
          padding-left: 20px;
          padding-right: 20px;
        }

      }
      img {
        display: block;
        //width: 288px;
        margin: 0 auto;
        border-radius: 5%;
        // height: 45%;
        // width:auto;
      }

      .item-title {
        margin-top: 10%;
        font-size: 22px;
        line-height: 27px;
        color: #060606;
        text-align: center;
        cursor: pointer;
        @media (max-width: 985px) {
          & {
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 16px;
          }
        }
      }
    }
  }

  .crypto-icon {
    display: flex;
    float: left;
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .table-tag {
    display: flex;
    float: left;
    margin-left: 11px;
    color: #020202;
  }

  .table-asset {
    margin-left: 11px;
    color: #9b9b9b;
    font-weight: 400;
  }

  .bottom-part {
    background-color: #f8f8f8;
  }
}

.footer-trade {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
  margin-top: 23px;
  font-size: 17px;
  color: #202630;
  line-height: 21px;

  .buy {
    width: 140px;
    height: 38px;
    border: 1px solid #F0B90A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .sell {
    width: 140px;
    height: 38px;
    background: #F0B90A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.footer-info {
  margin-top: 50px;

  .info {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 9px;
    color: #202630;
  }
}

.max1290 {
  max-width: 1290px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .max1290 {
    max-width: 940px;
    margin: 0 auto;
  }
}

@media (max-width: 985px) {
  .max1290 {
    // width: auto !important;
    max-width: none;
    // padding-left: 30px !important;
    // padding-right: 30px !important;
    margin: 0 auto;
  }
}

footer {
  background: #FAFAFA;
  width: 100%;
  height: 100%;

  div.footer-box {
    box-sizing: border-box;
    border-bottom: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    //padding: 10px 20px 30px 20px;
    @media (max-width: 985px) {
      & {
        height: auto;
        padding-bottom: 30px;
        flex-direction: column;
      }
    }

    .lan-box {
      position: relative;

      .lan-icon {
        width: 20px;
        position: absolute;
        top: 7px;
        left: 10px;
        z-index: 999;
      }

      .selectLan {
        width: 148px;

        .selectOption {
          :deep(.el-select-dropdown__item.selected) {
            color: red !important;
          }
        }

        :deep() {
          .el-input--large .el-input__inner {
            color: #e3e3e3;
            margin-left: 20px;
            font-size: 14px;
          }

          .el-input__wrapper {
            height: 34px;
            background-color: #1d262f;
            box-shadow: 0 0 0 1px #5c6368;
          }

          .el-input__suffix-inner > :first-child {
            margin-left: 0;
          }
        }
      }
    }
  
    .footer-logo-md {
      display: none;
      padding-top: 30px;
      @media (max-width: 985px) {
        & {
          display: flex;
          align-items: center;
        }
      }

      img.logo {
        width: 142px;
        height: auto;
        margin-right: 20px;
      }

      span {
        cursor: pointer;
        display: block;
        font-size: 14px;
        color: #6c6c6c;
        margin-right: 20px;
        padding-top: 10px;
      }

      button.language-chose {
        display: flex;
        align-items: center;
        width: 140px;
        height: 37px;

        img {
          width: 16px;
          margin-right: 6px;
          vertical-align: middle;
        }

        svg {
          margin-left: 4px;
        }

        line-height: 19px;
        font-size: 14px;
        color: #e3e3e3;
        background: none;
        border: 1px solid #5c6368;
        border-radius: 1px;
        padding: 0.5rem 1rem;
      }
    }

    .footer-logo {
      display: inline-block;
      width: 40%;
      padding-top: 40px;
      @media (max-width: 985px) {
        & {
          display: none; //頁面<985
        }
      }

      img.logo {
        width: 142px;
        height: auto;
      }

      span {
        cursor: pointer;
        display: block;
        margin: 0.8rem 0;
        font-size: 14px;
        color: #6c6c6c;
        letter-spacing: 0;
        line-height: 19px;
      }
    }

    .link-cards {
      display: flex;
      width: 100%;
      vertical-align: top;
      justify-content: space-around;
      padding: 0 0 0 3%;
      gap: 20px;

      @media (max-width: 985px) {
        & {
          padding: 0;
          justify-content: space-between;
          margin-left: 0;
        }
      }

      ul.link-list {
        list-style: none;
        padding-top: 50px;
        width: 100%;
        @media (max-width: 985px) {
          & {
            padding-top: 40px;
          }
        }

        li:nth-child(1) {
          font-size: 20px;
          color: #242933;
          font-weight: 500;
          margin-bottom: 16px;

          &:hover {
            color: #3d4656;
          }
        }

        li {
          font-size: 14px;
          color: #242933;
          cursor: pointer;
          margin-bottom: 16px;

          &:hover {
            color: #F0B90A;

            a {
              color: #F0B90A !important;
            }
          }
        }
      }
    }

    .icon-links {
      padding: 6px 0;
      padding-top: 40px;
      width: 170px;
      vertical-align: middle;
      flex-wrap: wrap;
      flex-shrink: 0;
      @media (max-width: 1400px) {
        & {
          display: none;
        }
      }

      img {
        cursor: pointer;
        width: 16px;
        margin: 12px 12px 0 0;
        height: 16px;
      }
    }
  }

  .icon-links-lg {
    padding-bottom: 10px;
    display: none;
    align-items: center;
    @media (max-width: 1400px) {
      & {
        display: flex;
      }
    }

    img {
      cursor: pointer;
      width: 24px;
      margin: 12px 12px 0 0;
      height: 24px;
    }
  }

  .footer-bottom-box {
    background: #FAFAFA;
    overflow: hidden;

    div.footer-bottom {
      width: 100vw;
      height: 60px;
      background: #FAFAFA;
      line-height: 60px;
      font-size: 0.8rem;
      color: #909090;
      letter-spacing: 0;
      box-sizing: border-box;

      .final-span {
        margin-right: 8px;
      }

      .final-links {
        margin-right: 16px;
      }

      span {
        cursor: pointer;
      }

      span:hover {
        color: #fafafa;
      }
    }
  }
}

footer {
  background: #FAFAFA;
  width: 100%;
  height: 100%;

  div.footer-links {
    box-sizing: border-box;
    width: 100vw;
    // height: 40vh;
    background: #FAFAFA;
    border-bottom: none;

    .footer-logoinfo {
      display: inline-block;
      width: 100%;
      padding: 20px 0 0 20px;

      img.logo {
        width: 43%;
        margin-bottom: 12px;
      }

      button.labguage-chose {
        display: flex;
        align-items: center;

        img {
          width: 16px;
          margin-right: 6px;
          vertical-align: middle;
        }

        svg {
          margin-left: 4px;
        }

        font-size: 14px;
        color: #e3e3e3;
        background: none;
        border: 1px solid #5c6368;
        border-radius: 3px;
        padding: 0.5rem 1rem;
      }
    }

    .link-list {
      margin-top: 20px;
      padding: 0 20px;

      .part09-collapse {
        width: 100%;
        border: none;

        .list-item {
          height: 44px;
        }

        :deep() {
          .el-collapse {
            border: none;
          }

          .el-collapse-item__header {
            background-color: transparent;
            color: #242933;
            border: none;
            height: 52px;
          }

          .el-collapse-item-title {
            font-weight: 400;
            font-size: 16px;
          }

          .el-collapse-item__content {
            background-color: transparent;
            font-size: 14px;
            color: #909090;
            padding-left: 20px;
            padding-bottom: 0;
            padding-top: 8px;
          }

          .el-collapse-item__wrap {
            background-color: transparent;
            border: none;
          }

          .el-collapse-item__arrow {
            transform: rotate(90deg);
          }

          .el-collapse-item__arrow.is-active {
            transform: rotate(270deg);
          }
        }
      }
    }

    .icon-links {
      display: flex;
      align-items: center;
      padding: 6px 20px;
      // padding-top: 50px;
      width: 100%;
      vertical-align: center;
      flex-wrap: wrap;

      img {
        width: 24px;
        margin: 12px 12px 0 0;
      }
    }
  }

  div.footer-bottom {
    //width: 100vw;
    font-weight: 400;
    background: #FAFAFA;
    font-size: 16px;
    color: #808080;
    letter-spacing: 0;
    padding: 10px 5.3vw;
    box-sizing: border-box;

    span {
      display: block;
      font-size: 16px;
      color: #808080;
      font-weight: 400;
    }
  }
}

